body {
  font-family: "Arial", monospace;
  text-align: center;
  background: linear-gradient( 180deg, #0c0074, #aca2fe); 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.container-general {
  margin: 1rem;
  margin-bottom: 5rem;
  padding: 1rem;
  width: 30rem;
}

.container {
  text-align: center;
  padding: 35px;
}

.page-title {
  color: rgb(255, 255, 255);
  margin: 0 0 20px;
}

.page-logo {
  width: 270px;
}

.alura-logo {
  width: 45px;
  position: absolute;
  top: 15px;
  right: 15px;
}

img {
  max-height: 250px;
}

.info {
  flex-direction: column;
  display: flex;
}
.container-info {
  flex-direction: column;
  display: flex;
}
.container-info label {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.4rem;
  color: #c1c1c1;
}
/* Estilos para los campos de entrada */
input[type="text"],
input[type="number"] {
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  height: 30px;
  margin-bottom: 0.5rem;
  padding: 5px 15px;
  resize: none;
  overflow: hidden;
  outline: none;
  margin-bottom: 1.25rem;
}

/* Estilos para el botón */
.button-container {
  display: flex;
  justify-content: center;
}

.convert-button {
  width: 50%;
  margin-top: 1rem;
  background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px;
  transition: background-color 0.3s; 
}

.convert-button:hover {
  background-color: #45a049; 
}

#resultados {
  background-color: white;  
  color: green;
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
  border-radius: 5px;
  visibility: hidden; /* Oculto por defecto */
  margin-bottom: 3rem;
}

footer {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  bottom: 0;
  position: fixed;
}

footer p {
  margin: 0;
  padding: 20px 0;
  background-color: black;
  color: #fff;
  height: 30px;
}
