body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://img.freepik.com/fotos-gratis/fechar-o-termometro-mostrando-alta-temperatura_23-2149456779.jpg?w=1380&t=st=1692985786~exp=1692986386~hmac=02d8a11d78ffd5345c2028d944c174c706ed3560205637528fa4dbfe191a9808");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}
.converter {
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
}

input[type="number"] {
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#resultados {
  background-color: white;  
  color: green;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

footer {
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    bottom: 0;
    position:fixed;
}

footer p {
    margin: 0;
    padding: 20px 0 20px 0;
    background-color: black;
    color: #fff;
    height: 30px;
    margin-top: 20px;
}